<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Bootstrap Blog Template">
    <meta name="author" content="Vijaya Anand">

    <title>
    {% block title %}
        News Feed
    {% endblock %}
    </title>

    <!-- Bootstrap CSS file -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
{% load static %}
<style>
    
    body {
        margin-top: 75px;
    }

    a.none{
        text-decoration: none;
    }


    footer {
        margin: 10px 0;
    }

    #comments, #comments li {
        margin: 0;
        padding: 0;
    }

    #comments li {
        list-style: none;
    }
            
    .photo {
        margin-bottom: 10px;
    }

    .social-buttons button {
        margin-top: 5px;
    }
</style>

</head>

<body>
    <!-- Header -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">           
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if user.is_authenticated %}
                <a href="/app/feed/india" class="navbar-brand">UpdateMe</a>
                {% else %}
                <a href="/app/" class="navbar-brand">UpdateMe</a>
                {% endif %}   
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                	{% if user.is_authenticated %}
                    <li class="active" ><a href="/app/logout">Logout</a></li>
                    {% else %}
                    <li class="active" ><a href="/app/login">Login</a></li>
                    {% endif %}    
                </ul>
            </nav>
        </div>
    </header>

    <!-- Body -->
    {% block content %}
   	{% endblock %}

	{% block footer%}
    <!-- Footer -->
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; UpdateMe 2017. All rights reserved.</p>
        </div>
    </footer>
	{% endblock %}
    <!-- Jquery and Bootstrap Script files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
</body>
</html>