<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Bootstrap Blog Template">
    <meta name="author" content="Vijaya Anand">

    <title>
    News Feed
    </title>

    <!-- Bootstrap CSS file -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
{% load static %}
<style>
    
body {
    margin-top: 75px;
}

a.none{
    text-decoration: none;
}


footer {
    margin: 10px 0;
}

#comments, #comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
}
        
.photo {
    margin-bottom: 10px;
}

.social-buttons button {
    margin-top: 5px;
}

    </style>

</head>

<body>

    <!-- Header -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">           
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/app/feed/0/" class="navbar-brand">UpdateMe</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active" ><a href="/app/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Body -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block base %}
                <center> <h1>{{title}}</h1></center>
                {% for i in data.channel.item%}
                <article>
                  <h2><a style="text-decoration: none;"href="{{i.link}}">{{i.title}}</a></h2>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                             &nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a class="none" href="#">Bookmark</a>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <span class="glyphicon glyphicon-pencil"></span> <a class="none" href="#"> Comments</a>                         
                            &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> {{i.pubDate}}                          
                        </div>
                      </div>

                      <hr>
                      <center>
                      <img src="{{i.img}}" style="height: 50%; width: 70%;">
                      </center>
                      {{i.description}}
                        
                      <br />

                      <p class="lead">{{i.description | striptags}}</p>

                      <p class="text-right">
                          <a href="{{i.link}}">
                            continue reading...
                          </a>
                      </p>

                      <hr>
                </article>
                {% endfor %}
                {% endblock %}
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Previous</a></li>
                    <li class="next"><a href="#">Next &rarr;</a></li>
                </ul>

            </div>
            <div class="col-md-4">

                <div class="well text-center">
                    <p class="lead">
                        Don't want to miss updates? Please click the below button!
                    </p>
                    <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
                </div>

<!-- Categories -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Categories</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a class="none" href="/app/feed/sports">Sports</a></li>
                        <li class="list-group-item"><a class="none" href="/app/feed/india">India News</a></li>
                        <li class="list-group-item"><a class="none" href="/app/feed/science">science</a></li>
                        <li class="list-group-item"><a class="none" href="/app/feed/environment">Environment</a></li>
                        <li class="list-group-item"><a class="none" href="/app/feed/tech">tech</a></li>
                        <li class="list-group-item"><a class="none" href="/app/feed/entertainment">Entertainment</a></li>

                    </ul>
                </div>

                <!-- Latest Posts -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Latest Posts</h4>
                    </div>
                    <ul class="list-group">
                    {% for i in data.channel.item%}
                        <li class="list-group-item"><a class="none" href="{{i.link}}">{{i.title}}</a></li>
                    {% endfor %}
                    </ul>
                </div>

                

                <!-- Tags -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Tags</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            <li><a class="none" href="#">Sports</a></li>
                            <li><a class="none" href="#">Politics</a></li>
                            <li><a class="none" href="#">Music</a></li>
                            <li><a class="none" href="#">Travel</a></li>
                            <li><a class="none" href="#">Movies</a></li>
                            <li><a class="none" href="#">Matrimonial</a></li>
                            <li><a class="none" href="#">Classifieds</a></li>
                            <li><a class="none" href="#">Games</a></li>
                            <li><a class="none" href="#">Messages</a></li>
                            <li><a class="none" href="#">Astrology</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Recent Comments -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Recent Comments</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a class="none" href="#">Some Placeholder comment. -<em>john</em></a></li>
                        <li class="list-group-item"><a class="none" href="#">This is a sample comment. - <em>Anto</em></a></li>
                        <li class="list-group-item"><a class="none" href="#">Hello world!!! - <em>Sarah</em></a></li>
                        <li class="list-group-item"><a class="none" href="#">I'm feeling hungry - <em>Mary</em></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; Astrospace 2014. All rights reserved.</p>
        </div>
    </footer>

    <!-- Jquery and Bootstrap Script files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
    
    
</body>
</html>


{% if user.is_authenticated %}
        <a href="/app/logout">Logout</a>
{% endif %}


</body>
</html>