{% extends "app/base.html" %}

    {% block title %}
        Index
    {% endblock %}


    {% block content %}
    <center>
        <div class="jumbotron" style="width: 50%">
            <h1>UpdateMe App</h1>
            <p class="lead"></p>
            {% if user.is_authenticated %}
            <p><a class="btn btn-lg btn-success" href="/app/feed/india/" role="button">Read Feed</a>
            </p>
            {% else %}
            <p><a class="btn btn-lg btn-success" href="/app/register/" role="button">Get Started!</a>
            </p>
            {% endif %}
        </div>
        </center>

    </div>
{% endblock %}
