{% extends 'app/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="contact-form" style="margin-right: 40%; margin-left: 40%;">
<h2>Sign up</h2>
  <form method="post" class="form-horizontal col-md-8" role="form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label for="name">
        {{ field.label_tag }}</label>
        <div class="col-md-10">
        {{ field }}
        </div>

        {% for error in field.errors %}
        <div style="display: inline-block;">
        <br/>
          <p style="color: red">{{ error }}</p>
        </div>
        {% endfor %}
      </p>
    </div>
    {% endfor %}
    
<div class="col-md-12 text-right">

                
    <button type="submit">Sign up</button></div> 
  </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}


              
      